@page "/cypher"
@using CypherK_BlazorApp.Pages.Cypher

<div class="cypher">
    <div class="row">
        <div class="col-md-3 cypher-left">
            <InfoPanel />
        </div>
        <div class="col-md-9 cypher-right">
            <ActionPanel />
        </div>
    </div>

</div>
